<!DOCTYPE html>
<html lang="zh" dir="ltr">
<head>
	<meta charset="UTF-8">
	<title>热能表检测报告</title>
	<style></style>
</head>

<body>
	<center><h2 id="firstHeading" class="firstHeading" lang="en">北京计量仪表检测报告</h2></center>
	<!--********* 检测基本信息 ********-->
	<center>
		<table>
		<tr>
			<td ALIGN="right">检测单位：</td><td ALIGN="left"><U><%= calibrationStation%></U></td><td ALIGN="right">&nbsp;&nbsp;检测模式：</td><td ALIGN="left"><U><%= calibrationMode%></U></td><td ALIGN="right">结论：</td><td ALIGN="left"><U><%=calibrationResult%></U></td>
		</tr>
		<tr>
			<td ALIGN="right">表号：</td><td ALIGN="left"><U><%=meterID%></U></td><td ALIGN="right">厂家：</td><td ALIGN="left"><U><%=factoryID%></U></td><td ALIGN="right">&nbsp;&nbsp;表类型：</td><td ALIGN="left"><U><%=meterType%></U></td>
		</tr>
	</table>
</center>
	<hr>
	<br>
	<!--********* 检测数据项信息表 ********-->
	<center>
	<table border="1">
		<tr>
			<td><B>项目</B></td><td><B>数值</B></td><td><B>单位</B></td><td><B>参考区间</B></td><td><B>标准值</B></td><td><B>结论</B></td>
		</tr>
		<tr>
			<td><%=heatName%></td><td><%=heatValue%></td><td><%=heatUnit%></td><td><%=heatLowerbound%>~<%=heatUpperbound%></td><td><%=heatRefValue%></td><td><%= heatResult%></td>
		</tr>
		<tr>
			<td><%=capacityName%></td><td><%=capacityValue%></td><td><%=capacityUnit%></td><td><%=capacityLowerbound%>~<%=capacityUpperbound%></td><td><%=capacityRefValue%></td><td><%= capacityResult%></td>
		</tr>
		<tr>
			<td><%=temperatureInName%></td><td><%=temperatureInValue%></td><td><%=temperatureInUnit%></td><td><%=temperatureInLowerbound%>~<%=temperatureInUpperbound%></td><td><%=temperatureInRefValue%></td><td><%= temperatureInResult%></td>
		</tr>
		<tr>
			<td><%=temperatureOutName%></td><td><%=temperatureOutValue%></td><td><%=temperatureOutUnit%></td><td><%=temperatureOutLowerbound%>~<%=temperatureOutUpperbound%></td><td><%=temperatureOutRefValue%></td><td><%= temperatureOutResult%></td>
		</tr>
		<tr>
			<td><%=durationName%></td><td><%=durationValue%></td><td><%=durationUnit%></td><td><%=durationLowerbound%>~<%=durationUpperbound%></td><td><%=durationRefValue%></td><td><%= durationResult%></td>
		</tr>
	</table>
</center>
	<br>
	<hr>
	<!--********* 检测表底部信息 ********-->
	<center>
		<table>
		<tr>
			<td>开始时间：</td><td><U><%=startTime%></U></td><td>&nbsp;&nbsp;结束时间：</td><td><U><%=endTime%></U></td><td>&nbsp;&nbsp;检测者：</td><td><U><%=calibrator%></U></td><td>&nbsp;&nbsp;审核者：</td><td><U><%=reviewer%></U></td>
		</tr>
	</table>
</center>
	
</body>

</html>