<!DOCTYPE html>
<html lang="zh" dir="ltr">
<head>
	<meta charset="UTF-8">
	<title>热能表检测报告</title>
	<style></style>
</head>

<body>
	<center><h2 id="firstHeading" class="firstHeading" lang="en">北京计量仪表检测报告</h2></center>
	<!--********* 检测基本信息 ********-->
	<center>
		<table>
		<tr>
			<td ALIGN="right">检测单位：</td><td><%= calibrationStation%></td><td ALIGN="right">检测模式：</td><td><%= calibrationMode%></td><td ALIGN="right">结论：</td><td><%=calibrationResult%></td>
		</tr>
		<tr>
			<td ALIGN="right">表号：</td><td><%=meterID%></td><td ALIGN="right">厂家：</td><td><%=factoryID%></td><td ALIGN="right">表类型：</td><td><%=meterType%></td>
		</tr>
	</table>
</center>
	<!--检测单位：北京市计量科学研究院 检测模式：对比标准数据 结论：合格 <br>
	表号：1234567890 厂家：1111 表类型：冷热水表<br>-->
	
	<!--********* 检测数据项信息表 ********-->
	<center>
	<table border="1">
		<tr>
			<td>项目</td><td>数值</td><td>单位</td><td>参考区间</td><td>标准值</td><td>结论</td>
		</tr>
		<tr>
			<td><%=heatname%></td><td><%=heatvalue%></td><td><%=heatunit%></td><td><%=heatlowerbound%>~0.00</td><td>0.00</td><td>-</td>
		</tr>
		<tr>
			<td>总流量</td><td>0.00</td><td>m³</td><td>0.00~0.00</td><td>0.00</td><td>-</td>
		</tr>
		<tr>
			<td>进水温度</td><td>22.31</td><td>℃</td><td>22.09~22.53</td><td>22.31</td><td>-</td>
		</tr>
		<tr>
			<td>出水温度</td><td>22.31</td><td>℃</td><td>22.09~22.53</td><td>22.31</td><td>-</td>
		</tr>
		<tr>
			<td>持续时间</td><td>1</td><td>sec</td><td>0.99~1.01</td><td>1</td><td>-</td>
		</tr>
	</table>
</center>
	<!--********* 检测表底部信息 ********-->
	<center>
		<table>
		<tr>
			<td>开始时间：</td><td><%=startTime%></td><td>结束时间：</td><td><%=endTime%></td><td>检测者：</td><td><%=calibrator%></td><td>审核者：</td><td><%=reviewer%></td>
		</tr>
	</table>
</center>

	<!--开始时间：2018-03-15 16:28:58 结束时间：2018-03-15 16:28:59 检测者：邵博丰 审核者：邵博丰<br>-->
	
</body>

</html>